# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
DerivedData/
.DS_Store

# Secret Configuration (DO NOT COMMIT)
test_app/Config.swift

# Build
build/
*.ipa

# Swift Package Manager
.swiftpm/
Packages/
.build/

# CocoaPods
Pods/
*.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
